appdirs==1.4.4
audioread==2.1.9
auraloss==0.2.2
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
editdistance==0.6.0
fonttools==4.33.3
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.1
matplotlib==3.5.2
numba==0.55.2
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pooch==1.6.0
protobuf==4.21.1
pycparser==2.21
pydub==0.25.1
pyparsing==3.0.9
PySoundFile==0.9.0.post1
python-dateutil==2.8.2
python-speech-features==0.6
pytz==2022.1
torch~=1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5